/* app css stylesheet */

table {
  border-collapse: collapse;
  margin-top: 45px;
}

td {
  border: 1px solid black;
  min-width: 30px;
  height: 30px; 
  position: relative;
  font-size: 22px;
  text-align: center;
  padding: 0;
}

.winner {
  background: yellow;
}

.now-playing {
  border-bottom: 3px solid #ec5c5c;
  background-color: wheat;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}